.DS_Store
._.DS_Store
*.0
*.out
*.swp
.vscode
for_test.h
test.txt
.idea
cmake-build-debug
CMakeLists.txt
tmain.c
.idea
cmake-build-debug
CMakeLists.txt
.DS_Store
.DS_Store
._.DS_Store
*.0
*.out
*.swp
.vscode
for_test.h
tmain.c
test.txt
.idea
cmake-build-debug
CMakeLists.txt

